@import url(//db.onlinewebfonts.com/c/016f50054d487d421dc18257a191a3ad?family=Noteworthy);



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  


  body {
    font-family:noteworthy 'Times New Roman', Times, serif;
    height: 80vh;
  }
  
  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family:noteworthy;
    background-color:#f4efde ;
  }
  
  .left-slide{
    padding-top:5%;
    width:35%;
    height:100%;
    padding-left:18px;
    background-color:#e2d2ad;
    color:#140f07;
    
  }
  

  .left-slide i{
    padding-top:60px;
    padding-left:20px;

  }

  .left-slide i:hover{
    color:#1d71c6;
  }

  .left-slide h1{
text-decoration: underline;
    
  }
  
  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
  
  .right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding-top:100px;
    padding-left:18px;
    text-align: center;
    color:white;
  }

  .right-slide  #about{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }

  .right-slide  #about p{
    font-style:italic;

  }


  .right-slide  #contacts i{
    justify-content: center;
    padding-top:100px;
    padding-right:40px;
  }
  
  .right-slide  #projects p{
    padding-top:40px;
    font-style: italic;
  }


  .right-slide  #contacts i:hover{
    color: orangered;
  }



  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
  }
  
  button:hover {
    color: #222;
  }
  
  button:focus {
    outline: none;
  }
  
  .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }
  
  .slider-container .action-buttons .down-button {
    transform: translateX(100%);
    border-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }